@charset "utf-8";
/* CSS Document */

body{
margin: 0;
font-family: "Lucida Grande", Helvetica, Arial, "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
}
h1,h2,h3,h4,h5,p,small{
font-size: 14px;
color: #333;
margin: 5px 0;
}
textarea{
resize: none; 
border-radius: 3px;
border: none;
border: 1px solid #a9a9a9;
}
input[type="text"]{
padding: 1px;
border-radius: 3px;
border: 1px solid #a9a9a9;
height: 25px;
}
.clearfix:before,
.clearfix:after {
content: "";
display: table;
}
.clearfix:after {
clear: both;
}
.clearfix {
*zoom: 1;
}
.note{
font-size: 12px;
padding-left: 1em;
text-indent: -1em;
}
/*エラーメッセージ*/
.error{
border: 1px solid #ed143d;
box-shadow: inset 0px 0px 5px #ed143d;
}
.login-error{
margin-bottom: 20px;
}
.error p{
padding: 0px 15px;
color: #d20404;
}
.error p:last-child{
padding-bottom: 10px;
}
.login-error p:last-child{
padding-bottom: 0;
text-align: center;
}
.error .mess{
padding: 10px 15px 5px;
font-size: 18px;
font-weight: bold;
}

.header-wrap{
background-color: #1B58A3;
height: 110px;
}
.header-wrap .tt{
margin: 0 auto;
color: #fff;
font-size: 35px;
line-height: 110px;
width: 970px;
vertical-align: middle;
}
.header-wrap .tt img{
vertical-align: middle;
}
.footer-wrap{
background-color: #1B58A3;
}
.footer-wrap p{
margin: 0;
padding: 5px;
color: #fff;
text-align: center;
}
.contener-wrap{
width: 970px;
margin: 30px auto;
}
.contener-wrap .content-wrap{
padding: 15px;
background-color: #E3ECF8;
border-top: 4px solid #adc8e9;
}
.contener-wrap .content-wrap .st-titl{
margin: 10px 0;
padding-left: 60px;
text-indent: -60px;
font-size: 20px;
}
.s-titl{
position: relative;
margin: 20px 0 10px;
font-size: 18px;
font-weight: bold;
padding-left: 20px;
}
.s-titl:before{
content: '';
display: block;
position: absolute;
top: 5px;
left: 0;
width: 15px;
height: 15px;
background: #2774D3;
border-radius: 50%;
}
.contener-wrap .content-wrap .st-titl span{
display: inline-block;
margin-right: 10px;
padding: 18px 0;
background: #2774D3;
border-radius: 50%;
width: 50px;
font-size: 12px;
text-align: center;
color: #fff;
vertical-align: super;
text-indent: 0;
}

/*カレンダー*/
.ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all{
background: #FFFFFF;
border: 1px solid #9A9A9A;
text-align: center;
}
.ui-datepicker-header.ui-widget-header.ui-helper-clearfix.ui-corner-all{
background: #205FAA;
color: #fff;
}
.ui-datepicker .ui-datepicker-header {
position: relative;
padding: 8px 0;
}
.ui-datepicker .ui-datepicker-header .ui-datepicker-title{
font-size: 14px;
}
.ui-datepicker .ui-datepicker-header .ui-icon{
display: none;
}
.ui-datepicker .ui-datepicker-prev {
left: 2px;
}
.ui-datepicker .ui-datepicker-next {
right: 2px;
}
.ui-datepicker .ui-datepicker-prev:before{
content: "<<";
font-size: 12px;
}
.ui-datepicker .ui-datepicker-next:before{
content: ">>";
font-size: 12px;
}
.ui-datepicker .ui-datepicker-prev:hover,
.ui-datepicker .ui-datepicker-next:hover{
color: #AAA;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
position: absolute;
top: 5px;
width: 30px;
height: 30px;
}
.ui-datepicker-calendar {
width: 100%;
text-align: center;
border-collapse: collapse;
border-spacing: 0;
}
.ui-datepicker-calendar thead{
background: #C5DAF3;
}
.ui-datepicker-calendar thead th{
padding: 5px 0;
font-weight: normal;
font-size: 12px;
}
.ui-datepicker td span, .ui-datepicker td a {
display: block;
padding: 5px;
text-decoration: none;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
background: #2774D3;
color: #fff;
font-size: 12px;
}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
opacity: .35;
filter: Alpha(Opacity=35);
background-image: none;
}


/**わくわく調整表作成*************/
.event-box-name,
.event-box-candidate,
.item-candidate,
.item-calendar{
float: left;
margin: 0 10px;
}
.event-name{
width: 100%;
}
.event-box-name textarea{
height: 190px;
width: 260px;
}
.item-calendar{
margin-top: 37px;
}
.item-calendar .calendar{
min-height: 250px;
}
.event-box-candidate textarea{
height: 148px;
width: 220px;
}
.event-box-deadline{
clear: both;
margin: 0 15px;
padding-top: 15px;
}
.event-box-deadline input{
margin-left: 10px;
}
.btn-box{
clear: both;
padding: 40px 0 15px;
text-align: center;
}
.btn{
padding: 5px 10px;
background: #FCDC2B;
color: #4B4101;
font-size: 20px;
font-weight: bold;
width: 500px;
min-height: 50px;
border-radius: 5px;
border: none;
box-shadow: 0 5px 1px #CCCCCC;
}
.btn:hover{
box-shadow: none;
background:#f9d300;
transform: translate3d(0, 3px, 0);
}
.s-btn{
width: 200px;
}
/*タブ切り替え*/
.tab{
overflow:hidden;
}
ul{
margin: 0;
list-style:none;
}
.tab li{
float:left;
margin-right:1px;
}
.content li{

}
.hide {
display:none;
}


/**参加メンバー募る********************/
.event-titl{
font-size: 25px;
border-bottom: 2px solid #CCCCCC; 
}
.check .checkbox{
display: none;
}
.check input[type="checkbox"] + .checkbox-icon{
width: 20px;
height: 20px;
background-image: url(../img/checkbox.png);
background-repeat: no-repeat;
padding: 1px 0 1px 25px;
vertical-align: middle;
}
.check input[type="checkbox"]:checked + .checkbox-icon{
background-image: url(../img/checkbox_on.png);
background-repeat: no-repeat;
}
.check  .checkbox{
padding-left: 10px;
}
.member-wrap .mail-textarea{
width:100%;
box-sizing: border-box;
}
.member-wrap .s-titl span{
font-size: 12px;
font-weight: normal;
}
.member-manager{
clear: both;
}
.member-manager .st-titl{
position: relative;
margin-bottom: 20px;
}
.member-manager textarea{
width: 100%;
box-sizing: border-box;
}
.member-manager .st-titl span{
display: inline;
padding: 16px 5px;
position: relative;
top: 17px;
}
.member-manager .s-titl{
margin: 10px 0 5px;
}
.member-wrap .btn-box{
padding-top: 10px;
}
.member-manager input{
width: 500px;
}
.member-wrap .member-check .check{
text-align: left;
font-size: 20px;
}
.member-wrap .member-check .check input[type="checkbox"] + .checkbox-icon{
background-position-y: 1px;
}
.mail-check-box{
margin-top: 40px;
text-align: center;
}
.content-in{
background: #F1F6FC;
margin: 20px auto;
padding: 15px 40px;
width: 80%;
}
.content-in-area{
width: 700px;
margin: 0 auto;
}
.mail-tx{
margin: 10px auto;
width: 100%;
height: 100px;
}
.url-copy{
position: relative;
}
.url-copy .url{
width: 85%;
}
.url-copy input[type="text"]{
border-radius: 3px 0 0 3px;
}
.copy-btn{
position: absolute;
height: 29px;
width: 120px;
background: #999999;
border: none;
color: #fff;
border-radius: 0 3px 3px 0;
}
.copy-btn:hover{
background: #666666;
}
.contener-wrap .page-titl{
position: relative;
margin: 0;
padding-left: 15px;
height: 50px;
line-height: 55px;
background: #ADC8E9;
width:330px;
font-size: 25px;
font-weight: bold;
}
.contener-wrap .page-titl:before{
content: "";
position: absolute;
right: -50px;
bottom: 0;
width: 0;
height: 0;
border:50px solid transparent;
border-bottom: 50px solid #ADC8E9;
}
.tab li.page-titl{
background: #7CA8DC;
}
.tab li.page-titl:before{
border-bottom: 50px solid #7CA8DC;
}
.tab li.select.page-titl{
background: #ADC8E9;
}
.tab li.select.page-titl:before{
border-bottom: 50px solid #ADC8E9;
}
.tab li.page-titl.tab-btn{
margin-left: 50px;
}

.in-area{
margin: 15px;
padding: 20px 60px;
background: #F1F6FC;
}
.input-max{
width:100%;
box-sizing: border-box;
}
/*ダウンロード*/
.download{
display: block;
position: relative;
padding: 0 15px;
font-size: 14px;
text-align: right;
color: #333;
}
.download:before{
content: "";
background-image: url(../img/download.png);
background-repeat: no-repeat;
background-size: 20px;
position: absolute;
right: 190px;
width: 20px;
height: 20px;
}
.item-candidate .day{
width: 230px;
}

/**わくわく調整表************/
.event-tab{
border-collapse: collapse;
border-spacing: 0;
margin: 15px auto 0;
background: #fff;
}
.event-tab th,
.event-tab td{
padding: 3px 5px;
border: 1px solid #333;
font-weight: normal;
width: 140px;
}
.event-tab th{
background: #EEEEEE;
}
.event-tab thead th:first-child,
.event-tab tbody th{
text-align: left;
}
.event-tab tbody th.com{
background: #CCCCCC;
}
.event-tab tbody td{
text-align: center;
}

/*わくわく調整表入力後*/
.scroll-area{
position: relative;
margin: 0 auto;
width: 700px;
}
.event-rear-tab-scroll{
overflow: auto;
margin-left: 151px;
}
.event-rear-tab{
table-layout: fixed;
width: 100%;
}
.event-rear-tab thead th:first-child,
.event-rear-tab tbody th{
position: absolute;
left: 0;
width: 140px;
}
.event-rear-wrap .note-rear{
padding-top: 40px;
text-align: center;
}
.event-rear-wrap .btn-box{
padding-top: 10px;
}

/*○△×の形*/
.input-wrap .page-titl{
position: relative;
}
.btn .maru,
.btn .sankaku,
.btn .batu,
.event-tab .sankaku,
.event-tab .batu{
position: relative;
}
.input-wrap .page-titl .maru{
display: inline-block;
position: absolute;
bottom: 11px;
width: 20px;
height: 20px;
border: 3px solid #333;
border-radius: 50%;
}
.event-input-tab tbody td .maru:before,
.btn .maru:before{
content: "";
position: absolute;
bottom: 8px;
left: 9px;
width: 15px;
height: 15px;
border: 2px solid #999999;
border-radius: 50%;
}
.btn .maru:before{
bottom: 1px;
left: 15px;
width: 15px;
height: 15px;
border: 3px solid #4B4101;
}
.event-wrap .event-tab .maru:before{
content: "";
position: relative;
display: inline-block;
top: 2px;
bottom: 0;
left: 0;
right: 0;
margin: auto;
width: 14px;
height: 14px;
border: 1px solid #333;
border-radius: 50%;
}
.sankaku:after,
.sankaku:before{
content: "";
position: absolute;
}
.input-wrap .page-titl .sankaku:before,
.btn .sankaku:before{
bottom: 13px;
left: 45px;
border: 14px solid transparent;
border-bottom: 24px solid #333;
}
.input-wrap .page-titl .sankaku:after,
.btn .sankaku:before{
bottom: 16px;
left: 50px;
border: 9px solid transparent;
border-bottom: 15px solid #ADC8E9;
}
.btn .sankaku:before{
bottom: 2px;
left: 41px;
border: 11px solid transparent;
border-bottom: 20px solid #4B4101;
}
.btn .sankaku:after{
bottom: 5px;
left: 46px;
border: 6px solid transparent;
border-bottom: 11px solid #FCDC2B;
}
.event-input-tab tbody td .sankaku:before{
bottom: 11px;
left: 8px;
border: 10px solid transparent;
border-bottom: 16px solid #999999;
}
.event-input-tab tbody td .sankaku:after{
bottom: 13px;
left: 12px;
border: 6px solid transparent;
border-bottom: 10px solid #CCC;
}
.event-wrap .event-tab .sankaku:before{
position: relative;
bottom: 15px;
left: 0;
border: 8px solid transparent;
border-bottom: 14px solid #333;
}
.event-wrap .event-tab .sankaku:after{
bottom: 2px;
left: 2px;
border: 6px solid transparent;
border-bottom: 11px solid #EEE;
}
.event-input-tab tbody td .sankaku:hover:after{
border-bottom: 10px solid #FCDC2B;
}
.event-input-tab tbody td .sankaku.selected:after{
border-bottom: 10px solid #FCDC2B;
}
.btn .sankaku:hover:after{
border-bottom: 10px solid #f9d300;
}
.input-wrap .page-titl .batu,
.btn .batu{
padding-right: 90px;
}
.input-wrap .page-titl .batu:before,
.input-wrap .page-titl .batu:after,
.btn .batu:before,
.btn .batu:after,
.event-wrap .event-tab .batu:before,
.event-wrap .event-tab .batu:after{
content: "";
position: absolute;
bottom: 22px;
left: 75px;
width: 28px;
height: 3px;
background-color: #333;
transition: all 0.8s ease-in-out;
}
.input-wrap .page-titl .batu:before,
.event-input-tab tbody td .batu:before,
.btn .batu:before,
.event-wrap .event-tab .batu:before{
transform: rotate(315deg);
}
.input-wrap .page-titl .batu:after,
.event-input-tab tbody td .batu:after,
.btn .batu:after,
.event-wrap .event-tab .batu:after{
transform: rotate(-315deg);
}
.event-input-tab tbody td .batu:before,
.event-input-tab tbody td .batu:after{
content: "";
display: block;
position: absolute;
top: 18px;
left: 9px;
width: 18px;
height: 2px;
background-color: #999999;
transition: all 0.8s ease-in-out;
}
.btn .batu:before,
.btn .batu:after{
bottom: 10px;
left: 66px;
width: 22px;
background-color: #4B4101;
}
.event-wrap  .event-tab .batu{
display: block;
}
.event-wrap .event-tab .batu:before,
.event-wrap .event-tab .batu:after{
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
width: 14px;
height: 1px;
background-color: #333;
}

/**○△×入力する**************/
.input-wrap .btn{
position: relative;
}
.input-wrap input{
width: 50%;
}
.input-wrap .in-box{
width: 480px;
margin: 0 auto;
}
.event-input-tab{
border-collapse: collapse;
border-spacing: 0;
margin: 15px auto 0;
}
.event-input-tab tr{
border-top: 1px solid #EEEEEE;
}
.event-input-tab tr:first-child{
border-top: none;
}
.event-input-tab th,
.event-input-tab td{
padding: 10px 5px;
font-weight: normal;
width: 140px;
}
.event-input-tab th{
width: 140px;
text-align: left;
}
.event-input-tab tbody td{
text-align: center;
width: 100px;
line-height: 11px;
}
.event-input-tab tbody td span{
display: inline-block;
position: relative;
height: 36px;
width: 36px;
text-align: center;
background: #CCC;
border-radius: 50%;
}
.event-input-tab tbody td span:hover{
background: #FCDC2B;
}
.event-input-tab tbody td span.selected{
background: #FCDC2B;
border-bottom: #FCDC2B;
}
.com-box .com{
width: 100%;
box-sizing: border-box;
}


/**管理者ログイン*****************/
.login-wrap .content-wrap{
padding: 30px 70px;
border-top: none;
}
.login-wrap .login-area{
padding: 50px 20px;
box-shadow : 0 0 0 1px #ADC8E9 ,0 0 0 5px #E3ECF8,0 0 0 7px #ADC8E9;
}
.login-wrap .tt{
margin: 0 0 20px;
text-align: center;
font-size: 30px;
font-weight: normal;
}
.login-wrap .login-tab{
margin: 0 auto;
}
.login-wrap .login-tab th{
padding: 15px 0;
text-align: right;
font-weight: normal;
}
.login-wrap .login-tab td input{
width: 400px;
height: 30px;
font-size: 14px;
}
.login-wrap .m-btn{
width: 300px;
}

/**メッセージ画面（エラー、完了）**********/
.mess-wrap{
margin-top: 50px;
width: 100%;
}
.mess-wrap .mess-area{
position: relative;
margin: 0 auto;
min-height: 280px;
width: 970px;
}
.mess-wrap .mess-err-area{
background:radial-gradient(#F797AA 0, #ED143D 100%);
box-shadow: 0px 5px 0px #F68CA1,0px 20px 0px #ED143D, 0px -5px 0px #F68CA1,0px -20px 0px #ED143D;
}
.mess-wrap .mess-fin-area{
background:radial-gradient(#F1F5FC 0, #6396D3 100%);
box-shadow: 0px 5px 0px #C4D5EB,0px 20px 0px #6396D3, 0px -5px 0px #C4D5EB,0px -20px 0px #6396D3;
}
.mess-wrap .mess-box{
position: absolute;
top: 50%;
margin-top: -50px;
left: 0;
right: 0;
text-align: center;
}
.mess-wrap .mess-area .mess-box .main{
margin-bottom: 20px;
font-size: 30px;
font-weight: bold;
color: #fff;
}
.mess-wrap .mess-area .mess-box .sup{
color: #fff;
}
.mess-wrap .mess-fin-area .mess-box .main,
.mess-wrap .mess-fin-area .mess-box .sup{
color: #333;
}