@charset "utf-8";
/* CSS Document */

/*エラーメッセージ*/
.error .mess {
padding: 5px 10px 0px;
font-size: 14px;
}
.error p {
padding: 0px 10px;
}
.error p:last-child {
padding-bottom: 5px;
}
.login-error {
margin-bottom: 15px;
}
.login-error p:last-child {
padding-bottom: 0;
text-align: left;
}

.header-wrap{
height: 80px;
}
.header-wrap .tt{
box-sizing: border-box;
width: 100%;
line-height: 80px;
text-align: center;
}
.header-wrap .tt img{
width: 250px;
}
.contener-wrap{
margin: 0;
width: 100%;
}
.contener-wrap .content-wrap{
padding: 2%;
background-color: transparent;
}
/*ページタイトル*/
.contener-wrap .page-titl{
padding-left: 2%;
width: 100%;
box-sizing: border-box;
font-size: 18px;
height: 40px;
line-height: 50px;
}
/*項目タイトル*/
.contener-wrap .content-wrap .st-titl{
font-size: 14px;
height: auto;
line-height: normal;
vertical-align: middle;
}
.contener-wrap .content-wrap .st-titl span{
margin-right: 5px;
padding: 3px;
border-radius: 10px;
vertical-align: middle;
}
.s-titl{
margin: 10px 0 5px;
padding-left: 15px;
font-size: 14px;
}
.s-titl:before{
width: 10px;
height: 10px;
top:5px;
}
/*ボタン*/
.btn-box {
padding: 25px 0 15px;
}
.btn{
width: 90%;
font-size: 18px;
min-height: 35px;
}
.contener-wrap .page-titl:before{
content: none;
}

/**わくわく調整表作成**************/
.tab li.page-titl {
padding: 0;
width: 50%;
box-sizing: border-box;
font-size: 17px;
text-align: center;
}
.contener-wrap .tab,
.contener-wrap .content{
padding: 0;
}
.tab li.page-titl.tab-btn{
margin: 0;
}
.event-box-name, .event-box-candidate, .item-candidate, .item-calendar{
float: none;
margin: 0;
}
.item-candidate .day,
.event-name,
.event-box-name textarea,
.event-box-candidate textarea{
width: 100%;
box-sizing: border-box;
}
.item-calendar img{
width: 100%;
}
.event-box-name textarea,
.event-box-candidate textarea{
height: 100px;
}
.in-area{
margin: 0;
padding: 10px;
}
.event-box-deadline{
margin: 0;
}
.download{
margin-top: 20px;
padding: 0;
}
.download:before {
right: 175px;
}
.member-manager .st-titl span{
top: 0;
}


/**参加メンバーを募る*******************/
.member-manager input {
width: 100%;
box-sizing: border-box;
}
.url-copy{
text-align: center;
}
.url-copy .url {
width: 100%;
height: 30px;
box-sizing: border-box;
}
.url-copy input[type="text"] {
border-radius: 3px;
}
.copy-btn {
position:static;
width: 80%; 
margin: 15px 0 20px;
border-radius: 3px;
}
.member-wrap .member-manager .st-titl{
padding-left: 52px;
text-indent: -52px;
}
.member-wrap .member-manager .st-titl span {
top: 0;
}
.member-wrap .member-check .check {
text-align: left;
font-size: 16px;
}
.member-wrap .member-check .check input[type="checkbox"] + .checkbox-icon {
background-position-y: 1px;
}
.event-titl{
font-size: 16px;
}
.event-tab th, .event-tab td{
padding: 5px;
}
.event-tab tbody td{
width: 15%;
}
.mail-check-box{
margin-top: 25px;
}
.item-calendar .calendar {
min-height: auto; 
}

/*わくわく調整表入力後****************/
.scroll-area {
position: relative;
margin: 0 auto;
width: 100%;
}
.event-rear-tab th, .event-rear-tab td{
width: 100px;
white-space: normal;
word-break: break-all;
}

/**○△×入力する************/
.input-wrap .in-area{
margin-top: 10px;
}
.input-wrap .in-box,
.input-wrap input{
width: 100%;
box-sizing: border-box;
}
.input-wrap .page-titl .batu {
padding-right: 70px;
}
.input-wrap .page-titl .maru {
bottom: 8px;
width: 12px;
height: 12px;
}
.input-wrap .page-titl .sankaku:before {
bottom: 9px;
left: 30px;
border: 10px solid transparent;
border-bottom: 18px solid #333;
}
.input-wrap .page-titl .sankaku:after {
bottom: 12px;
left: 35px;
border: 5px solid transparent;
border-bottom: 9px solid #ADC8E9;
}
.input-wrap .page-titl .batu:before, .input-wrap .page-titl .batu:after {
bottom: 15px;
left: 54px;
width: 20px;
}
.btn .maru:before {
width: 10px;
height: 10px;
left: 10px;
bottom: 2px;
}
.btn .sankaku:before {
border: 8px solid transparent;
border-bottom: 16px solid #4B4101;
left: 32px;
bottom: 3px;
}
.btn .sankaku:after {
border: 3px solid transparent;
border-bottom: 7px solid #FCDC2B;
left: 37px;
bottom: 6px;
}
.btn .batu{
padding-right: 75px;
}
.btn .batu:before, .btn .batu:after {
width: 18px;
bottom: 9px;
left: 52px;
}

/*出席入力*/
.event-input-tab{
margin: 0;
width: 100%;
}
.event-input-tab th, .event-input-tab td{
padding: 10px 2px;
}
.event-input-tab tbody td{
width: 17%;
}
.com-box{
width: 100%;
}
.com-box .com{
box-sizing: border-box;
}

/**管理者ログイン********************/
.login-wrap .login-area{
padding: 15px;
background: #E3ECF8;
}
.login-wrap .tt{
font-size: 18px;
}
.login-wrap .login-tab{
width: 100%;
}
.login-wrap .login-tab th,
.login-wrap .login-tab td{
display: block;
}
.login-wrap .login-tab th {
padding: 0;
text-align: left;
}
.login-wrap .login-tab td:first-of-type{
padding-bottom: 10px;
}
.login-wrap .login-tab td input{
width: 100%;
box-sizing: border-box;
}
.login-wrap .m-btn{
width: 100%;
}
.login-wrap{
padding: 10px 2%;
box-sizing: border-box;
}

/**メッセージ画面（エラー、完了）**********/
.mess-wrap .mess-area{
margin: 30px 0 10px;
width: 100%;
min-height: auto;
}
.mess-wrap .mess-box {
position: static;
margin-top: 0;
padding: 10px;
}
.mess-wrap .mess-area .mess-box .main {
margin-bottom: 10px;
font-size: 20px
}